html, body {
  background: #111111;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* App */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#map{
  height: 95vh;
  overflow: auto;
}

img.venue-photo {
  width: 200px;
  height: 150px;
}

img.no-image {
  width: 200px;
  height: 150px;
}

.header-title {
  height: 5vh;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
}


/*search bar*/
#search-bar {
  padding: 3px;
  width: 100%;
  height: 2rem;
  border: none;
  font-size: 1rem;
  background-color: #000000;
  color: #ffffff;
}

.venue-name {
  font-weight: bold;
}

.gm-style .gm-style-iw {
  font-weight: 300;
  font-size: 13px;
  overflow: hidden;
  text-align: center;
}

.info-window {
  max-width: 250px;
  width: 100%;
  overflow: hidden;
}

.side-bar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5px; /* Place content 20px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.list-item {
  list-style-type: none;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  font-size: 1.25em;
  color: #ffffff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.list-item:hover {
  cursor: pointer;
  color: #a36dff;
}

.sidebar-btn:hover {
  text-shadow: 2px 2px 8px #6545c8;
  cursor: pointer;
}

.closebtn {
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 5px;
  margin-right: 15px;
  float: right;
}

.closebtn:hover {
  cursor: pointer;
  color: #a36dff;
}

/** Media Queries **/

@media (max-width: 400px) {
  .header-title {
    font-size: 1.5rem;
    text-align: right;
    margin-right: 25px;
    margin-top: 35px;
  }
  .sidebar-btn {
    position: fixed;
    left: 36px;
    top: 35px;
    margin-bottom: 32px;
    color: #ffffff;
    font-size: 1.5rem;
  }

}

@media (min-width: 401px) and (max-width: 769px) {
  .header-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 55px;
    margin-top: 35px;
  }

  .sidebar-btn {
    position: fixed;
    left: 36px;
    top: 35px;
    margin-bottom: 36px;
    color: #ffffff;
    font-size: 2rem;
  }
}

@media (min-width: 770px) {
  .header-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 55px;
    margin-top: 35px;
  }
  .sidebar-btn {
    position: fixed;
    width: 48px;
    height: 48px;
    left: 36px;
    top: 35px;
    color: #ffffff;
    font-size: 3rem;
  }
}
