/* App */
.app {
  text-align: center;
  display: flex;
  flex-direction: row nowrap;
  height: 100%;
  width: 100%;
}

/* Map */

#map {
  height: 100vh;
  width: 85vw;

}

/* Side Bar */
.side-bar {
  width: 15vw;
}

#search-bar {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
}

.venue-list {
  padding: 1rem;
  font-size: 1rem;
}

.list-item {
  list-style: none;
  font-size: 1rem;
  padding: 0.5rem;
}